/* --------------------------------- */
/* BASE */
/* --------------------------------- */
* {
  padding: 0;
  margin: 0; }

html {
  /*font-size:10px; /*root font-size for converting to em*/
  font-size: 62.5%;

}

.App{
  background-color: var(--primary-color);
  color: var(--moon-color);
  height:100vh;
}

/* --------------------------------- */
/* VARIABLES */
/* --------------------------------- */

:root {
  --primary-color: #1e272e;
  --secondary-color: #485460;
  --moon-color: #d2dae2;
}

/* --------------------------------- */
/* TYPOGRAPHY */
/* --------------------------------- */
#title{
  text-align: center;
  font-size:5rem;
  padding:1rem;
}

#phase-title{
  text-align: center;
  font-size:3rem;
  padding:1.5rem;
}

#description{
  padding:2rem;
  font-size:1.6rem;
}

/* --------------------------------- */
/* CONTAINER CARDS - CONTAIN TITLE AND DESCRIPTION */
/* --------------------------------- */

.card{
  position:absolute;
  left:50%;
  transform:translate(-50%,-50%);
  background-color:var(--secondary-color);
  width:70%;
  margin:auto;
  border-radius: 5px;
}

#description-card{
  height:20rem;
}

/* --------------------------------- */
/* MOON CONTAINER AND MOON ELEMENT */
/* --------------------------------- */

#moon{
  position:absolute;
  left:50%;
  transform:translate(-50%,-50%);
}

.new-moon{
  width:20rem;
  height:20rem;
  border-radius: 50%;
  opacity:0;
}

.waxing-crescent{
  width:20rem;
  height:20rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: rotate(90deg);

  /* I set 2 shadows where the first one doesn't have blur and spread for firefox fix. */
  box-shadow: inset -3.2rem 0px var(--moon-color), inset -3.2rem 0px 0px 0px var(--moon-color);
  -moz-box-shadow: inset -3.2rem 0px var(--moon-color), inset -3.2rem 0px 0px 0px var(--moon-color);
}

.first-quarter{
  width:10rem;
  height:20rem;
  border-radius: 0rem 20rem 20rem 0rem;

  background-color:var(--moon-color);
}

.waxing-gibbous{
  width:20rem;
  height:20rem;
  border-radius: 50%;
  border:1px transparent var(--primary-color);
  background-color: var(--moon-color);
  transform: rotate(90deg);

  /* I set 2 shadows where the first one doesn't have blur and spread for firefox fix. */
  box-shadow: inset 3.2rem 0px var(--primary-color), inset 3.2rem 0rem 1px 0rem var(--primary-color);
  -moz-box-shadow: inset -3.2rem 0px var(--moon-color), inset -3.2rem 0px 0px 0px var(--moon-color);
}

.full-moon{
  width:20rem;
  height:20rem;
  border-radius: 50%;
  background-color:var(--moon-color);
}

.waning-gibbous{
  width:20rem;
  height:20rem;
  border-radius: 50%;
  border:1px transparent var(--primary-color);
  background-color: var(--moon-color);
  transform: rotate(90deg);

  /* I set 2 shadows where the first one doesn't have blur and spread for firefox fix. */
  box-shadow: inset -3.2rem 0px var(--primary-color), inset -3.2rem 0rem 1px 0rem var(--primary-color);
  -moz-box-shadow: inset -3.2rem 0px var(--moon-color), inset -3.2rem 0px 0px 0px var(--moon-color);
}


.last-quarter{
  width:10rem;
  height:20rem;
  border-radius: 20rem 0rem 0rem 20rem;
  background-color:var(--moon-color);
}

.waning-crescent{
  width:20rem;
  height:20rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: rotate(90deg);

  /* I set 2 shadows where the first one doesn't have blur and spread for firefox fix. */
  box-shadow: inset 3.2rem 0px var(--moon-color), inset 3.2rem 0px 0px 0px var(--moon-color);
  -moz-box-shadow: inset -3.2rem 0px var(--moon-color), inset -3.2rem 0px 0px 0px var(--moon-color);
}

/* --------------------------------- */
/* BUTTONS */
/* --------------------------------- */

.btn{
  position:absolute;
  top:40%;
  transform:translate(-50%,-50%);
  background-color:var(--primary-color);
  

  border-top: 5rem solid transparent;
	
	border-bottom: 5rem solid transparent;
}
.btn:hover{
  cursor:pointer;
  opacity:35%;
  transition:all .4s;
  /* transform:scale(1.2); */
}


#back-btn{
  border-right: 5rem solid var(--secondary-color);
}
#forward-btn{
  border-left: 5rem solid var(--secondary-color);
}

#back-btn:active{
  transform: translate(-65%,-50%);
}
#forward-btn:active{
  transform: translate(-35%,-50%);
}


/* --------------------------------- */
/* POSITIONING OF ELEMENTS */
/* --------------------------------- */

#title-card{
  top:10%;
}
#back-btn{
  left:20%;
}
#forward-btn{
  left:80%;
}
#moon{
  top:40%;
}
#description-card{
  top:80%;
}

